header {
    color: whitesmoke;
    background-color: aqua;
    text-align: center;
}
main {
    background-color: burlywood;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
    h1 {
        color: whitesmoke;
        background-color: aqua;
        text-align: center;
    }
    background-color: burlywood;
}